@import url('variable.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********** header ******************/
.header {
     /* background: orange; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div__logo {
    /* background: blue; */
    /* padding: 15px; */
}
.div__menu {
    /* background: green; */
    /* padding: 15px; */
}
.ul__menu {
     /* background: violet;  */
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: white;
}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}

.ul__menu li a{
    text-decoration: none;
    color: white;
}
/********** main ******************/
.main {
    /* background: red; */
    /* padding: 20px; */
}
.section__home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2)), var(--background-1);;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
    /* padding: 20px; */
}
.article__home {
    /* background: green; */
    /* padding: 20px; */
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    
}
.article__home span{
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";

}
.article__home p{
    /* background: red; */
    width: 340px;
    font-family: "Montserrat-Medium";
}
/************* section menu **********************/

.section__icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
}

.section__images{
    background: #071917;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        width: 1394px;
        height: 848px;
        margin: 20px 15px 17px 40px;
    }
    h1{
        font-family: "Montserrat-SemiBold";
        font-size: 55px;
        color: white;
        top: -140px;
        left: 80px;
        position: relative;
    }
}

.section__slider{
    background: #071917;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        font-family: "Montserrat-Medium";
        font-size: 45px;
        color: white;
        top: -80px;
        left: 50px;
        position: relative;
        padding: 20px;
    }
}

.slider__container{
    align-items: center;
    max-width: 1000px;
    flex-direction: row;
    position: relative;
}

.slider{
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 40px;
    top: -30px;
    padding: 30px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card{
    width: 385px;
    height: 627px;
    border-radius: 30px;
    background-color: rgba(20, 94, 42, 1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    img{
        width: 342px;
        height: 232px;
    }
    h2{
        font-family: "Montserrat-SemiBold";
        font-size: 28px;
        color: white;
    }
    p{
        font-family: "Montserrat-Regular";
        font-size: 20px;
        color: white;
    }
    button{
        width: 145px;
        height: 44px;
        font-family: "Montserrat-Regular";
        font-size: 20px;
        background-color: white;
        align-items: center;
        left: 100px;
        position: relative;
        border-radius: 30px;
    }
}

.footer__section{
    background: #071917;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__images{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px;
}

/************** version movil **********************/
@media (max-width: 960px) {
    .header{
        /* background: red; */
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }
    .article__home span{
        /* font-size: 1px; */
    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon{
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

@media (max-width: 576px) {
    .header{
        /* background: blue; */
        justify-content: normal;
    }
    .div__logo{
        flex: 1;
        /* background: red; */
    }
    .div__menu{
        width: 100%;
        /* background: violet; */
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
}